.listings_heading{
    color: #000000;
    text-align: center;
    font-size: 4em;
}

.listings_wrapper{
    font-size: 2em;
}

.listing_data_wrapper{
    height: 15vh;
    display: flex;
    margin: 0 auto;
    width: 80%;
    border: solid;
}

.listing_items{
    margin: 1em auto;
}

.listing_items * {
    background-color: rgb(139, 139, 245);;
}

.listing_image_anchor img{
    background-position: center;
    background-size: 5em;
    width: 5em;
    height: 100%;
}